{% extends "todo_list_app/index.html" %}
{% block content %}
        <div class="text-vertical-center">
            <h1>Your To Do list</h1>
            <h3>Never Miss Again</h3>
            <br>

<form action="/mylist/" method="post">
<fieldset>
    <legend>Create New Todo</legend>
    <span>Title</span><input id="title" type="text" name="title">
    <span>Description</span><input id="description" type="text" name="description">
    <span>Priority</span><select name="priorities">
    		<option value="1">1</option>
    		<option value="2">2</option>
    		<option value="3">3</option>
    		<option value="4">4</option>
    		<option value="5">5</option>
  		</select>
  		<span>Due date</span><input id="due_date" type="date" name="due_date">
  		<br>
  		<br>
  		<input type="submit" value="Add Todo">
</fieldset>
</form>
<a href="/tasks/" class="btn btn-dark btn-lg">Click to see your todo's</a>



        </div>
{% endblock %}